body {
    font-family: sans-serif;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 1em 0;
}
nav {
    background: #ddd;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 1em;
}

nav li {
    margin: 0;
    padding: 1em 3em;
    border-right: 1px solid white;
}

nav li:last-child {
    border-right: none;
}

a {
    text-decoration: none;
    color: cadetblue
}

a:hover {
    text-decoration: underline;
}
form {
    min-width: 200px;
}
form > * {
    margin: 1em;
}
legend {
    font-weight: bold;
}
.columns {
    display: flex;
}
.columns > * {
    padding: 1em;
}
footer {
    padding: 1em;
    background: cadetblue;
    text-align: center;
}
footer a{
    color: white;
}